In [64]:
import pandas as pd
import numpy as np

data = pd.read_excel("bullets.xlsx")
print(data.to_latex())
print(data)

\begin{tabular}{lrrrr}
\toprule
{} &  m1, мг &  m2, мг &  m3, мг &  m4, мг \\
\midrule
0 &     501 &     511 &     505 &     509 \\
\bottomrule
\end{tabular}

   m1, мг  m2, мг  m3, мг  m4, мг
0     501     511     505     509

In [87]:
#T1 = pd.read_excel("tt.xlsx").to_numpy()
T1 = np.array([[206.2, 20.62],
               [306.6, 20.4]])
T1_df = pd.DataFrame(data=T1, index=["10 периодов", "15 периодов"], columns=["t_полн", "T_1"])
T1_df
print(T1_df.to_latex())

\begin{tabular}{lrr}
\toprule
{} &  t\_полн &    T\_1 \\
\midrule
10 периодов &   206.2 &  20.62 \\
15 периодов &   306.6 &  20.40 \\
\bottomrule
\end{tabular}

In [76]:
deltax = np.array([10.3, 11, 10.2, 11.1])
m = data.to_numpy()
M = 2925
L = 2.21
g = 9.8
u = np.empty([4, 4])
dL = 0.0005
dM = 5
dm = 0.001
dx = 0.125
for i in range(len(deltax)):
    u[0][i] = m[0][i]
    u[1][i] = deltax[i]
    u[2][i] = round(M*deltax[i]/m[0][i]*(g/L)**0.5, 2)
    u[3][i] = round(u[2][i]*((dM/M)**2+(dm*1000/m[0][i])**2+0.25*(dL/L)**2+(dx/deltax[i])**2)**0.5, 2)
u_df = pd.DataFrame(data=u, index=["m", "x", "u", "du"], columns=["1", "2", "3", "4"])
print(u_df.to_latex())
u_df

\begin{tabular}{lrrrr}
\toprule
{} &       1 &       2 &       3 &       4 \\
\midrule
m  &  501.00 &  511.00 &  505.00 &  509.00 \\
x  &   10.30 &   11.00 &   10.20 &   11.10 \\
u  &  126.63 &  132.59 &  124.41 &  134.32 \\
du &    1.57 &    1.55 &    1.56 &    1.55 \\
\bottomrule
\end{tabular}

         1       2       3       4
m   501.00  511.00  505.00  509.00
x    10.30   11.00   10.20   11.10
u   126.63  132.59  124.41  134.32
du    1.57    1.55    1.56    1.55

In [167]:
u_mean = 133.79
sum_u = 0
ss = 0
for i in range(4):
    sum_u += (u_mean - u[2][i])**2
    ss += u[3][i]
sigma = (sum_u/4)**0.5
ss /= 4
o = (sigma**2 + (ss)**2)**0.5
print(sigma, ss, o)
print(u)

2.0292547893253783 9.5325 9.746098257764489
[[  0.499   0.507   0.511   0.501]
 [  9.4     9.8    10.      9.5  ]
 [131.44  134.87  136.54  132.3  ]
 [  8.99    9.71   10.09    9.34 ]]

In [80]:
o/u_mean

0.033800869552756095

In [74]:
deltax = np.array([12.4, 13.2, 12.5, 13.1])
m = data.to_numpy()
M = 2925
L = 2.215
g = 9.8
u = np.empty([4, 4])
dL = 0.0005
dM = 5
dm = 0.001
dx = 0.125
for i in range(len(deltax)):
    u[0][i] = m[0][i]
    u[1][i] = deltax[i]
    u[2][i] = M*deltax[i]/m[0][i]*(g/L)**0.5
    u[3][i] = u[2][i]*((dM/M)**2+(1000*dm/m[0][i])**2+0.25*(dL/L)**2+(dx/deltax[i])**2)**0.5
u_df = pd.DataFrame(data=u, index=["m", "x", "u", "du"], columns=["1", "2", "3", "4"])
#print(u_df.to_latex())
#u_df
m

array([[501, 511, 505, 509]], dtype=int64)

In [89]:
u2 = np.array([[0.499, 0.507, 0.511, 0.501],
               [9.4, 9.8, 10, 9.5],
               [0,0,0,0],
               [0,0,0,0]])
u2_df = pd.DataFrame(data=u2, index=["m", "x", "u", "du"], columns=["1", "2", "3", "4"])
print(u2_df.to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &      1 &      2 &       3 &      4 \\
\midrule
m  &  0.499 &  0.507 &   0.511 &  0.501 \\
x  &  9.400 &  9.800 &  10.000 &  9.500 \\
u  &  0.000 &  0.000 &   0.000 &  0.000 \\
du &  0.000 &  0.000 &   0.000 &  0.000 \\
\bottomrule
\end{tabular}

In [96]:
ki = 4*3.14*730.5*34*34*12.62/265.92
dki = ki*((0.1/20.62)**2+(0.1/12.62)**2+(0.5/730.5)**2+(0.05/34)**2)**0.5
dki

4747.032011697248

In [222]:
from math import pi
M = 730.5
R = 34
T1 = 22.62
T2 = 18.62
ki_ = 4*pi*M*R*R*T1/(T1**2 - T2**2)
ki = 4*pi*M/1000*(R/100)**2*T1/(T1**2 - T2**2)
ki_, ki

(1455130.2563009993, 0.14551302563009993)

In [223]:
dT1 = 0.1
dT2 = 0.1
dM = 0.5
dR = 0.05
sigma = ki*((dM/M)**2 + 4*(dR/R)**2 + 4*(dT1/T1)**2 + 4*(dT2/T2)**2)**0.5
sigma

0.002071541892161809

In [224]:
m = [0.499, 0.507, 0.511, 0.501]
dm = 0.001 # g

deltax = np.array([9.4, 9.8, 10, 9.5])
dx = 0.05 #cm

u2 = np.empty([4, 4])

dd = 0.5 #cm
d = 46.5

dr = 0.1 #cm
r = 22.5

dki = 0.002
#ki = 14600

for i in range(len(deltax)):
    u[0][i] = m[i]
    u[1][i] = deltax[i]
    u[2][i] = round(ki*100000*deltax[i]/(2*d*m[i]*r), 2)
    u[3][i] = u[2][i]*((dd/d)**2 + (dr/r)**2 + (dm/m[i])**2 + (dki/ki)**2 + (dx/deltax[i])**2)**0.5
u[3][0], u[3][1], u[3][2], u[3][3] = 8.99, 9.71, 10.09, 9.34
#u[2][0], u[2][1], u[2][2], u[2][3] = 131.44, 134.87, 136.54, 132.30
u_df = pd.DataFrame(data=u, index=["m", "x", "u", "du"], columns=["1", "2", "3", "4"])

In [225]:
u_df

          1        2        3        4
m     0.499    0.507    0.511    0.501
x     9.400    9.800   10.000    9.500
u   131.000  134.420  136.090  131.860
du    8.990    9.710   10.090    9.340

In [179]:
u_df

          1        2        3        4
m     0.499    0.507    0.511    0.501
x     9.400    9.800   10.000    9.500
u   131.000  134.420  136.090  131.860
du    8.990    9.710   10.090    9.340